body{
    background-color: rgb(214, 81, 103);
    color: white;
}
h1{
    color: rgb(76, 76, 153);
}
h2{
    color: rgb(204, 11, 11);
    background-color: rgb(236, 234, 231);
}
img{
    size: 0rem;
}
a{
    background-color: rgb(204, 11, 11);
    color: rgb(250, 249, 249);
}
#intro{
    color: rgb(6, 87, 112);
}
#recipes{
    color: rgb(35, 180, 43);
}